---
layout: default
mathjax: true
math: true
---

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
<link rel="icon"  type="image/jpg"  href="{{site.baseurl}}/images/download (2).jpg">

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <br>
  <br>
  <br>
  
  <div class="date">
    <font color="Silver">Written on {{ page.date | date: "%B %e, %Y" }}</font>
  </div>

  
  
    
  
  
  {% include disqus.html %}
</article>
