---
layout: default
mathjax: true
math: true
---

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: "Tushar Chaturvedi" }}</h1>
      <h2 class="project-tagline">{{ site.description | default: "https://github.com/tushar-c/" }}</h2>
      <a href="{{ site.baseurl }}/" class="btn">Blog</a>
      <a href="https://github.com/tushar-c/" class="btn">GitHub</a>
      <a href="{{ site.baseurl }}/about" class="btn">About</a>
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
  </header>
  
  
  {% include disqus.html %}
</article>
